<p class="font-black xl:text-5xl text-center">Edit Instrument</p>
<%= render "form", instrument: @instrument %>

<br>

<div class="flex items-center justify-center">
  <%= link_to "Show this instrument", @instrument, class:"text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" %> |
  <%= link_to "Back to instruments", instruments_path, class:"text-white bg-teal-500 border-0 py-2 px-6 focus:outline-none hover:bg-teal-600 rounded" %>
</div>
