<p class="font-black xl:text-5xl text-center">New Instrument</p>

<%= render "form", instrument: @instrument %>

<br>

<div class="flex items-center justify-center">
  <%= link_to "Back to instruments", instruments_path , class:"text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"%>
</div>
